/*************************************************
    GENERICS
 *************************************************/



/*************************************************
    UTILITIES
 *************************************************/



/*************************************************
    CONTENT
 *************************************************/
header nav,
.ae-copyright{
    background-color: #2c3e50;
}

header,
#about-me{
    background-color: #1abc9c;
}

footer{
    background-color: #3a546d;
}

a,
a:hover{
    color: white;
    text-decoration: none;
}