/*************************************************
    GENERICS
 *************************************************/



/*************************************************
    UTILITIES
 *************************************************/



/*************************************************
    CONTENT
 *************************************************/
.ae-bg-dark{
    background-color: #2c3e50;
}

.ae-avatar-size{
    max-width: 250px;
}

header,
#about-me,
.ae-btn-green{
    background-color: #1abc9c;
}

footer{
    background-color: #3a546d;
}

/* a,
a:hover{
    color: white;
    text-decoration: none;
} */

.ae-star::before,
.ae-star::after{
  content: '';
  display: inline-block;
  height: 2px;
  width: 10%;
  border: 1px solid white;
  background-color: white;
  border-radius: 2px;
  vertical-align: middle;
}

.ae-star.ae-black-border::before,
.ae-star.ae-black-border::after {
  border: 1px solid black;
  background-color: black;
}

.ae-btn-green{
    background-color: #1abc9c;
    border-color: white;
}

#emailHelp{
    height: 0;
}